@using Project_Web.Models
@{
    ViewBag.Title = "Thông tin tài khoản";
}
@{ Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/InformationAccount.css">

    <script src="~/Scripts/InformationAccount.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="information" id="result">
        <div class="information-background">
            <div class="information-body">
                <form method="post" action="/Home/InformationAccount" class="information-form" id="InformationForm">
                    <h1>Thông tin tài khoản</h1>
                    <div class="information-account">
                        @{
                            User user = Session["User"] as User;
                            if (user != null)
                            {
                                <div class="form-group">
                                    <label>Tên tài khoản:</label>
                                    <input type="text" disabled id="Username" value="@user.Username" name="Username" class="form-input" placeholder="Username" />
                                </div>
                                <div class="form-group">
                                    <label>Họ và tên:</label>
                                    <input type="text" id="Fullname" value="@user.Fullname" name="Fullname" class="form-input" />
                                </div>
                                <div class="form-group">
                                    <label>Giới tính:</label>
                                    <div class="form-input">
                                        <select class="custom-select" id="Gender" name="Gender">
                                            @{
                                                if (user.Gender != null)
                                                {
                                                    <option value="@user.Gender" selected="selected">@user.Gender</option>
                                                }
                                                else
                                                {
                                                    <option disabled="disabled" selected="selected">Gender</option>
                                                }
                                            }
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Ngày sinh:</label>
                                    @{
                                        string datestring = String.Format("{0:yyyy-dd-MM}", user.DateofBirth);
                                        if (user.DateofBirth != null)
                                        {
                                            <input type="date" value="@datestring" class="form-input" id="DateofBirth" name="DateofBirth" />
                                        }
                                        else
                                        {
                                            <input type="date" value="1990-01-01" class="form-input" id="DateofBirth" name="DateofBirth" />
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label>CMND:</label>
                                    @{
                                        if (user.IdentityCard != null)
                                        {
                                            <input type="text" id="IdentityCard" value="@user.IdentityCard" name="IdentityCard" class="form-input" />
                                        }
                                        else
                                        {
                                            <input type="text" id="IdentityCard" value="" name="IdentityCard" class="form-input" />
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ:</label>
                                    <input type="text" id="Address" name="Address" value="@user.Address" class="form-input" />
                                </div>
                                <div class="form-group">
                                    <label>Số điện thoại:</label>
                                    <input type="tel" id="PhoneNumber" name="PhoneNumber" value="@user.PhoneNumber" class="form-input" />
                                </div>
                                <div class="form-group">
                                    <div class="button-submit">
                                        <input type="submit" name="submit" id="submit" class="form-submit" value="Lưu thông tin" />
                                        <a href="/Home/ChangePass" name="ChangePass" id="changePass" class="form-submit">Đổi mật khẩu</a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </form>
                <div>
                    <div class="user-page-sidebar">
                        <div class="user-page">
                            <a class="user-page-avatar">
                                <img src="~/images/avatar.jpg" />
                            </a>
                        </div>
                        <div class="user-page-right">
                            <div class="user-page-username">
                                tuongkl01
                            </div>
                        </div>
                    </div>
                    <div class="user-page-choose-image">
                        <label for="Image" class="form-input text-center"><i class="fa fa-upload">Chọn ảnh</i></label>
                        <input type="file" accept=".jpg,.jpeg,.png" name="Image" id="Image" style="display: none;" />
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/InformationAccount.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>

