@using Project_Web.Models;
@using System.Data;
@{
    ViewBag.Title = "Giỏ hàng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
    float sum = 0;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ShoppingCart.css">
</head>
<body>
    <h2 class="text-center">Cửa hàng bán cháo | Giỏ hàng</h2>
    <div class="container" id="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Tên sản phẩm</th>
                    <th style="width:10%">Giá</th>
                    <th style="width:8%">Số lượng</th>
                    <th style="width:22%" class="text-center">Thành tiền</th>
                    <th style="width:10%"> </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    DataTable cart = new DataTable();
                    cart = Session["cart"] as DataTable;
                    if (cart != null)
                    {
                        foreach (DataRow dr in cart.Rows)
                        {
                            string dishname = dr["DishName"].ToString();
                            Menu dish = _db.Menus.SingleOrDefault(n => n.DishName == dishname);
                            sum = sum + float.Parse(dr["PaidPrice"].ToString());
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs">
                                            <img src="../@dish.Image" alt="@dish.DishName" class="img-responsive" width="100">
                                        </div>
                                        <div class="col-md-8 text-product">
                                            <h4 class="nomargin">@dish.DishName</h4>
                                            <p>@dish.Ingredient</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">@dr["Price"]</td>
                                <td data-th="Quantity">
                                    @{
                                        int quatity = int.Parse(dr["Quantity"].ToString());
                                        string IDBillDetail = dr["IDBillDetails"].ToString();
                                        <input class="form-control text-center changQuantity" value="@quatity" id="changQuantity" type="number" min="1" max="20" data-IDBillDetail="@IDBillDetail">
                                     }
                                </td>
                                <td data-th="Subtotal" class="text-center"> @dr["PaidPrice"]</td>
                                <td class="actions" data-th="">
                                    <a href="~/Home/EditCart" class="btn btn-info btn-sm">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="/delete-cart?Index=@i" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            i = i+1;
                        }
                    }

                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <a href="/Home/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td colspan="2" class="hidden-xs"> </td>
                    <td class="hidden-xs text-center">
                        <strong>Tổng tiền: @sum</strong>
                    </td>
                    <td>
                        <a href="~/OrderProducts/OrderProducts" class="btn btn-success btn-block">Đặt hàng <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/ShoppingCart.js"></script>

