@using Project_Web.Models;
@using System.Data;
@{
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
    ViewBag.Title = "Đặt hàng";
    User user = new User();
    user = Session["User"] as User;
    DataTable cart = new DataTable();
    cart = Session["cart"] as DataTable;
    float sum = 0;
    Address_Users address_Users = new Address_Users();
    address_Users = _db.Address_Users.SingleOrDefault(n => n.IDUser == user.IDUser && n.IsDefault == 1);
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/OrderProducts.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Cửa hàng bán cháo | Đặt hàng</h2>
            </div>
            <div class="col-md-4 progress-bar-design">
                <ul class="progressbar">
                    <li class="complete">Đăng nhập</li>
                    <li class="complete">Mua hàng</li>
                    <li class="active">Thanh toán & Đặt mua</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <div class="orderProducts-left">
            <div class="orderProducts-left-cover">
                <div class="orderProducts-left-step1">
                    <h3>1. Chọn hình thức giao hàng</h3>
                    <div class="orderProducts-left-step1-border1">
                        <i class="fa fa-dot-circle-o">Giao tiêu chuẩn (Giao sau 1 tiếng kể từ lúc đặt hàng)</i>
                        <div class="orderProducts-left-step1-border2">
                            @{
                                DateTime now = DateTime.Now;
                                DateTime hours = now.AddHours(1);
                                string datestring = String.Format("{0:dd/MM/yyyy HH:mm:ss}", now);
                                switch (now.DayOfWeek)
                                {
                                    case DayOfWeek.Monday:
                                        datestring = String.Format("Thứ hai {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                    case DayOfWeek.Tuesday:
                                        datestring = String.Format("Thứ ba {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                    case DayOfWeek.Wednesday:
                                        datestring = String.Format("Thứ tư {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                    case DayOfWeek.Thursday:
                                        datestring = String.Format("Thứ năm {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                    case DayOfWeek.Friday:
                                        datestring = String.Format("Thứ sáu {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                    case DayOfWeek.Saturday:
                                        datestring = String.Format("Thứ bảy {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                    case DayOfWeek.Sunday:
                                        datestring = String.Format("Chủ nhật {0:dd/MM/yyyy} {1: HH:mm:ss}", now, hours);
                                        break;
                                }
                                <div class="orderProducts-left-step1-border2-textup">
                                    Giao vào @datestring
                                </div>
                                    }
                            <div class="orderProducts-left-step1-border2-nameProduct">
                                <ul class="orderProducts-left-step1-border2-products">
                                    @{
                                        foreach (DataRow dr in cart.Rows)
                                        {
                                            string Quantity = dr["Quantity"].ToString();
                                    string DishName = dr["DishName"].ToString();
                                            <li>
                                                <div class="orderProducts-left-step1-border2-products-inner">
                                                    @Quantity x @DishName
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="orderProducts-left-step1-border2-bordercenter"></div>
                            <div class="orderProducts-left-step1-border2-textupbottom">
                                <div>Giao tiêu chuẩn</div>
                                <div>22.000đ</div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="orderProducts-left-step2">
                    <h3>2. Thanh toán bằng MST Xu</h3>
                    <div class="orderProducts-left-step2-border">
                        <div class="orderProducts-left-step2-border-input">
                            @{
                                if (user.Point != null)
                                {
                                    <a class="orderProducts-left-step2-border-input-a"><i class="fa fa-square-o" id="CheckBox"></i>Ấn để sử dụng MST Xu. Hiện có: @user.Point MST Xu</a>
                                }
                                else
                                {
                                    <a class="orderProducts-left-step2-border-input-a"><i class="fa fa-square-o" id="CheckBox"></i>Ấn để sử dụng MST Xu. Hiện có: 0 MST Xu</a>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="orderProducts-left-step3">
                    <h3>3. Chọn hình thức thanh toán</h3>
                    <div class="orderProducts-left-step3-border">
                        <i class="fa fa-circle-o fa-dot-circle-o"><img src="~/images/payment-method.png" />Thanh toán bằng tiền mặt khi nhận hàng</i>
                    </div>
                </div>
                <div>
                    <button class="orderProducts-left-button" id="Order-item">Đặt mua</button>
                    <p>(Xin vui lòng kiểm tra lại đơn hàng trước khi Đặt Mua)</p>
                </div>
            </div>
        </div>
        <div class="orderProducts-right">
            <div class="orderProducts-right-border-up">
                <div class="orderProducts-right-border-cover">
                    <div class="orderProducts-right-border-cover-up">
                        <div class="orderProducts-right-border-cover-up-text">Địa chỉ giao hàng</div>
                        <button class="orderProducts-right-border-cover-up-button" id="update-button-information">Sửa</button>
                    </div>
                    <div class="orderProducts-right-hr"></div>
                    <div class="orderProducts-right-border-cover-bottom">
                        <div class="orderProducts-right-border-cover-bottom-name">@user.Fullname</div>
                        @{
                            string address = "";
                            if (address_Users != null)
                            {
                                address = address_Users.Street + ", " + address_Users.Ward + ", " + address_Users.District + ", " + address_Users.Province;
                                <div class="orderProducts-right-border-cover-bottom-address" id="address_user">@address</div>
                            }
                            else
                            {
                                <div class="orderProducts-right-border-cover-bottom-address" id="address_user">@address</div>

                            }
                        }
                        <div class="orderProducts-right-border-cover-bottom-phone">@user.PhoneNumber</div>
                    </div>
                </div>
            </div>
            <div class="orderProducts-right-border-bottom">
                <div class="orderProducts-right-border-bottom-cover">
                    <div class="orderProducts-right-border-bottom-top">
                        <div class="orderProducts-right-border-bottom-top-text text-format">Đơn hàng (số lượng sản phẩm)</div>
                        <button class="orderProducts-right-border-bottom-top-button" id="update-button-products">Sửa</button>
                    </div>
                    <div class="orderProducts-right-hr"></div>
                    @{
                        foreach (DataRow dr in cart.Rows)
                        {
                            string Quantity = dr["Quantity"].ToString();
                            string DishName = dr["DishName"].ToString();
                            string Price = dr["PaidPrice"].ToString();
                            sum = sum + float.Parse(dr["PaidPrice"].ToString());
                            <div class="orderProducts-right-border-bottom-center">
                                <div class="text-format">@Quantity x @DishName</div>
                                <div class="value-format">@Price<span>đ</span></div>
                            </div>
                        }
                        sum = sum + 22000;

                    }
                    <div class="orderProducts-right-hr"></div>
                    <div class="orderProducts-right-border-bottom-center">
                        <div class="text-format">Phí vận chuyển</div>
                        <div class="value-format">22.000đ</div>
                    </div>
                    <div class="orderProducts-right-hr-bold"></div>
                    <div class="orderProducts-right-border-bottom-bottom">
                        <div class="text-format-sum">Thành tiền:</div>
                        <div class="text-right">
                            <div class="pay-value">@sum<span>đ</span></div>
                            <p>(Đã bao gồm VAT)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/OrderProducts.js"></script>
<script src="~/Scripts/Shipping.js"></script>