@using Project_Web.Models;
@{
    ViewBag.Title = "Thông tin giao hàng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
    User user = Session["User"] as User;
    var address_user = _db.Address_Users.Where(x => x.IDUser == user.IDUser).ToList();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Shipping.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Cửa hàng bán cháo | Giao hàng</h2>
            </div>
            <div class="col-md-4 progress-bar-design">
                <ul class="progressbar">
                    <li class="complete">Đăng nhập</li>
                    <li class="active">Mua hàng</li>
                    <li>Thanh toán & Đặt mua</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="container">
        @{
            if (user != null)
            {
                <div class="shipping-up">
                    <div class="text-title">2. Địa chỉ giao hàng</div>
                    <div class="text-choice-address">Chọn địa chỉ giao hàng có sẵn bên dưới</div>
                    <div class="shipping-up-display">
                        @{
                            if (address_user != null)
                            {
                                foreach (var listaddress in address_user)
                                {
                                    if (listaddress.IsDefault == 0)
                                    {
                                        <div class="shipping-up-border">
                                            <div class="shipping-up-border-text">
                                                <div class="text-fullname">@listaddress.Fullname</div>
                                                <div class="text-address">Địa chỉ: @listaddress.Street, @listaddress.Ward, @listaddress.District, @listaddress.Province</div>
                                                <div class="text-phone">Điện thoại: @listaddress.PhoneNumber</div>
                                            </div>
                                            <div class="shipping-up-border-button">
                                                <button class="btn button-address">Giao đến địa chỉ này</button>
                                                <button class="btn button-update" id="update-button">Sửa</button>
                                                <button class="btn button-address default-button" data-IDAddress="@listaddress.IDAddress" data-IDUser="@user.IDUser">Đặt làm mặc định</button>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="shipping-up-border">
                                            <div class="shipping-up-border-text">
                                                <div class="text-fullname">@listaddress.Fullname</div>
                                                <div class="text-address">Địa chỉ: @listaddress.Street, @listaddress.Ward, @listaddress.District, @listaddress.Province</div>
                                                <div class="text-phone">Điện thoại: @listaddress.PhoneNumber</div>
                                            </div>
                                            <div class="shipping-up-border-button">
                                                <button class="btn button-address">Giao đến địa chỉ này</button>
                                                <button class="btn button-update" id="update-button">Sửa</button>
                                            </div>
                                            <span class="default">Mặc định</span>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                    <div class="shipping-up-border-bottom">
                        Bạn muốn giao đến địa chỉ khác?
                        <div class="text-add-address" id="openForm">Thêm địa chỉ giao hàng mới</div>
                    </div>
                </div>
                <div class="shipping-form" id="form-address">
                    <form action="~/OrderProducts/Shipping" id="address-form" method="post" class="shipping-form-cover">

                        <div class="shipping-group">
                            <label>Họ tên</label>
                            <input type="text" name="FullName" id="Fullname" placeholder="Nhập họ tên" class="form-input" value="@user.Fullname" />
                        </div>
                        <div id="showError_Fullname"></div>
                        <div class="shipping-group">
                            <label>Điện thoại di động</label>
                            <input type="text" name="PhoneNumber" id="PhoneNumber" placeholder="Nhập số điện thoại" class="form-input" value="@user.PhoneNumber" />
                        </div>
                        <div id="showError_PhoneNumber"></div>
                        <div class="shipping-group">
                            <label>Tỉnh/Thành phố</label>
                            <select class="custom-select" name="Province" id="ProvinceSelect">
                                <option disabled selected>Chọn Tỉnh/Thành phố</option>
                                @{
                                    var provinces = (from s in _db.Provinces
                                                     select s).ToList();
                                    foreach (var pro in provinces)
                                    {
                                        <option value="@pro.Name">@pro.Type @pro.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="shipping-group">
                            <label>Quận/Huyện</label>
                            <select class="custom-select" name="District" id="DistrictSelect">
                                <option disabled selected>Chọn Quận/Huyện</option>
                            </select>
                        </div>
                        <div class="shipping-group">
                            <label>Phường/Xã</label>
                            <select class="custom-select" name="Ward" id="WardSelect">
                                <option disabled selected>Chọn Phường/Xã</option>
                            </select>
                        </div>
                        <div class="shipping-group">
                            <label>Địa chỉ</label>
                            <input name="Street" id="Street" type="text" class="form-input" placeholder="Nhập số nhà và tên đường" value="@user.Address" />
                        </div>
                        <div id="showError_Address"></div>
                        <div class="button-form">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Xác nhận" />
                            <input name="Cancel" id="Cancel" class="form-submit" value="Hủy" />
                        </div>
                    </form>
                </div>
            }
        }
    </div>
</body>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/Shipping.js"></script>