@using Project_Web.Models
@*@model Project_Web.Models.Menu*@
@model PagedList.IPagedList<Project_Web.Models.Store>
@using PagedList.Mvc;
@{ Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();}
<div class="button-popup">
    <button id="open-popup-dish-form" class="form-submit" onclick="openPopupDishForm()">Thêm món ăn</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 30% ">Tên cửa hàng</th>
                <th style="width: 25% ">Vị trí</th>
                <th style="width: 20% "> Tên món ăn</th>
                <th style="width: 25% ">Số lượng</th>
            </tr>
        </thead>
        <tbody id="ListData">
            @{

                foreach (var s in Model)
                {
                    var menu_store = (from ms in _db.Menu_Stores
                                      where ms.IDStore == s.IDStore
                                      select ms).ToList();
                    foreach (var ms in menu_store)
                    {
                        Menu menu = _db.Menus.SingleOrDefault(n => n.IDDish == ms.IDDish);
                        if (ms.Available == null)
                        {
                            ms.Available = 0;
                        }
                        <tr>
                            <td>@s.StoreName</td>
                            <td>@s.Location</td>
                            <td>@menu.DishName</td>
                            <td>@ms.Available</td>
                        </tr>
                    }

                }
            }
        </tbody>
    </table>
    <div class="paging">
        <div class="paging-show">
            Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="paging-choose" id="myPagerDish">
            @Html.PagedListPager(Model, page => Url.Action("_TabDish", new { page }),
           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast
           , new AjaxOptions
           { InsertionMode = InsertionMode.Replace, HttpMethod = "Get", UpdateTargetId = "Dish" }))
        </div>
    </div>

</div>
<div class="signup-content-dish" id="signup-content-dish">
    <div class="signup-background-dish" id="signup-background-dish">
        <span class="remove-icon" id="close-popup-form" onclick="closePopupForm()">x</span>
        <form method="POST" action="/Administrator_Setting/AddDish" id="signup-form-dish" class="signup-form">
            <h2 class="form-title">Tạo món ăn cho cửa hàng</h2>
            <div class="form-group">
                <select class="custom-select" id="LocationSelect" name="Location">
                    <option disabled="disabled" selected="selected">Location</option>
                    <option value="Quận 1">Quận 1</option>
                    <option value="Quận 2">Quận 2</option>
                    <option value="Quận 3">Quận 3</option>
                    <option value="Quận 4">Quận 4</option>
                    <option value="Quận 5">Quận 5</option>
                    <option value="Quận 6">Quận 6</option>
                    <option value="Quận 7">Quận 7</option>
                    <option value="Quận 8">Quận 8</option>
                    <option value="Quận 9">Quận 9</option>
                    <option value="Quận 10">Quận 10</option>
                    <option value="Quận 11">Quận 11</option>
                    <option value="Quận 12">Quận 12</option>
                    <option value="Quận Thủ Đức">Quận Thủ Đức</option>
                    <option value="Quận Gò Vấp">Quận Gò Vấp</option>
                    <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                    <option value="Quận Tân Bình">Quận Tân Bình</option>
                    <option value="Quận Tân Phú">Quận Tân Phú</option>
                    <option value="Quận Phú Nhuận">Quận Phú Nhuận</option>
                    <option value="Huyện Củ Chi">Huyện Củ Chi</option>
                    <option value="Huyện Hóc Môn">Huyện Hóc Môn</option>
                    <option value="Huyện Bình Chánh">Huyện Bình Chánh</option>
                    <option value="Huyện Nhà Bè">Huyện Nhà Bè</option>
                    <option value="Huyện Cần Giờ">Huyện Cần Giờ</option>
                </select>
            </div>
            <div class="form-group" style="display: none" id="StoreNameList">
                <select class="custom-select" name="StoreName" id="StoreNameSelect">
                    <option disabled="disabled" selected="selected">Store Name</option>
                    <option id="loading" value="-">Store Name</option>
                </select>
            </div>
            <div class="form-group show-dish-list" id="DishNameList">
                <h6 class="form-title">Chọn món ăn</h6>
                <div class="list-dish" id="listdish">
                    @{
                        var listDishName = (from dishName in _db.Menus
                                            select dishName).ToList();
                        foreach (var s in listDishName)
                        {
                            <a href="#" class="dishname-choose" id="DishName_a"><i class="fa fa-circle-o"><input hidden value="@s.DishName" id="DishName" name="DishName" />@s.DishName</i></a>
                        }
                    }
                </div>
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>


