@model Project_Web.Models.Store
@using Project_Web.Models;
<div class="button-popup">
    <button id="open-popup-store-form" class="form-submit" onclick="openPopupStoreForm()">Thêm cửa hàng</button>
    <div id="table-store" class="table-store">
        <table class="table table-hover" id="tableStore">
            <tr>
                <th style="width: 30% ">Tên cửa hàng</th>
                <th style="width: 25% " >Vị trí</th>
                <th style="width: 20% ">Số điện thoại</th>
                <th style="width: 25% ">Email</th>
            </tr>
            @{
                Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
                var store = (from q in _db.Stores
                             select new
                             {
                                 StoreName = q.StoreName,
                                 Location = q.Location,
                                 PhoneNumber = q.PhoneNumber,
                                 Email = q.Email
                             });
                foreach (var s in store)
                {
                    <tr>
                        <td>@s.StoreName</td>
                        <td>@s.Location</td>
                        <td>@s.PhoneNumber</td>
                        <td>@s.Email</td>
                    </tr>
                }
            }
        </table>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 30% ">Tên cửa hàng</th>
                <th style="width: 25% ">Vị trí</th>
                <th style="width: 20% ">Số điện thoại</th>
                <th style="width: 25% ">Email</th>
            </tr>
        </thead>
        <tbody id="ListData">

        </tbody>
    </table>
</div>
<div class="signup-content-store" id="signup-content-store">
    <div class="signup-background-store" id="signup-background-store">
        <span class="remove-icon" id="close-popup-form" onclick="closePopupForm()">x</span>
        <form method="POST" action="/Administrator_Setting/CreateStore" id="signup-form-store" class="signup-form">
            <h2 class="form-title">Tạo cửa hàng</h2>
            <div class="form-group">
                <input type="text" class="form-input" name="StoreName" id="StoreName" placeholder="Your StoreName" />
            </div>
            @Html.ValidationMessageFor(m => m.StoreName, null, new { @class = "textValidation" })
            <div class="form-group">
                <input type="text" class="form-input" id="Location" name="Location" placeholder="Your Location" />
            </div>
            @Html.ValidationMessageFor(m => m.Location, null, new { @class = "textValidation" })
            <div class="form-group">
                <input type="tel" class="form-input" id="PhoneNumber" name="PhoneNumber" placeholder="Your PhoneNumber" />
            </div>
            @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "textValidation" })
            <div class="form-group">
                <input type="email" class="form-input" name="Email" id="Email" placeholder="Your Email" />
            </div>
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "textValidation" })
            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Lưu cửa hàng" />
            </div>
            <div id="res"></div>
            <div class="textValidation" id="showSuccess">
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>

