
@model PagedList.IPagedList<Project_Web.Models.Store>
@using PagedList.Mvc;
@using Project_Web.Models;
@{
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<div class="button-popup">
    <button id="open-popup-staff-form" class="form-submit" onclick="openPopupStaffForm()">Thêm nhân viên</button>
    <table class="table table-bordered">
        <tr>
            <th>StoreName</th>
            <th>Location</th>
            <th>FullName</th>
            <th>Username</th>
        </tr>
        <tbody id="listStaff">
            @{
                foreach (var s in Model)
                {
                    if (s.IDUser != null)
                    {
                        var staff = _db.Users.SingleOrDefault(x => x.IDUser == s.IDUser);
                        <tr>
                            <td>@s.StoreName</td>
                            <td>@s.Location</td>
                            <td>@staff.Fullname</td>
                            <td>@staff.Username</td>
                        </tr>
                    }


                }
            }
        </tbody>
    </table>
    <div class="paging">
        <div class="paging-show">
            Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="paging-choose" id="myPagerStaff">
            @Html.PagedListPager(Model, page => Url.Action("_TabStaff", new { page }),
           PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast
           , new AjaxOptions
           { InsertionMode = InsertionMode.Replace, HttpMethod = "Get", UpdateTargetId = "Staff" }))
        </div>
    </div>  
</div>
<div class="signup-content-staff" id="signup-content-staff">
    <div class="signup-background-staff" id="signup-background-staff">
        <span class="remove-icon" id="close-popup-form" onclick="closePopupForm()">x</span>
        <form method="POST" action="/Administrator_Setting/CreateStaff" id="signup-form-staff" class="signup-form">
            <h2 class="form-title h2-staff">Thêm nhân viên cho cửa hàng</h2>
            <div class="form-group">
                <div class="form-input-staff" id="StaffSelect">
                    <select class="custom-select" id="staff-dropdown" name="Staff">
                        <option disabled="disabled" selected="selected">Chọn nhân viên</option>
                        @{
                            var user = (from u in _db.Users
                                        join ur in _db.User_Roles on u.IDUser equals ur.IDUser
                                        where ur.IDRole == "R02"
                                        select u).ToList();
                            foreach (var u in user)
                            {
                                var storetemp = (from s in _db.Stores
                                                 where s.IDUser.ToString().Contains(u.IDUser)
                                                 select s).ToList();
                                if (storetemp.Count() == 0)
                                {
                                    <option value="@u.Fullname"> @u.Fullname </option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-input-store" id="StoreSelect">
                    <select class="custom-select" id="store-dropdown" name="Store">
                        <option disabled="disabled" selected="selected">Chọn cửa hàng</option>
                        @{
                            var store = (from s in _db.Stores
                                         where s.IDUser == null
                                         select s.StoreName).ToList();
                            foreach (var s in store)
                            {
                                <option value="@s">@s</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Lưu nhân viên" />
            </div>
            <div id="res"></div>
            <div class="textValidation" id="showSuccess">
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>

