@*@model Project_Web.Models.Store*@
@using Project_Web.Models;
@model PagedList.IPagedList<Project_Web.Models.Store>
@using PagedList.Mvc;

<div class="button-popup">
    <button id="open-popup-store-form" class="form-submit" onclick="openPopupStoreForm()">Thêm cửa hàng</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 30% ">Tên cửa hàng</th>
                <th style="width: 25% ">Vị trí</th>
                <th style="width: 20% ">Số điện thoại</th>
                <th style="width: 25% ">Email</th>
            </tr>
        </thead>
        <tbody id="ListData">
            @{
                foreach (var s in Model)
                {

                    <tr>
                        <td>@s.StoreName</td>
                        <td>@s.Location</td>
                        <td>@s.PhoneNumber</td>
                        <td>@s.Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("_TabStore", new { page }),
       PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
       { HttpMethod = "GET", UpdateTargetId = "Administrator_Setting" }))
    </div>
</div>
<div class="signup-content-store" id="signup-content-store">
    <div class="signup-background-store" id="signup-background-store">
        <span class="remove-icon" id="close-popup-form" onclick="closePopupForm()">x</span>
        <form method="POST" action="/Administrator_Setting/CreateStore" id="signup-form-store" class="signup-form">
            <h2 class="form-title">Tạo cửa hàng</h2>
            <div class="form-group">
                <input type="text" class="form-input" name="StoreName" id="StoreName" placeholder="Your StoreName" />
            </div>
            @*@Html.ValidationMessageFor(m => m.StoreName, null, new { @class = "textValidation" })*@
            <div id="res"></div>
            <div class="textValidation" id="showFail_SN">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <select class="custom-select" id="Location" name="Location">
                    <option disabled="disabled" selected="selected">Location</option>
                    <option value="Quận 1">Quận 1</option>
                    <option value="Quận 2">Quận 2</option>
                    <option value="Quận 3">Quận 3</option>
                    <option value="Quận 4">Quận 4</option>
                    <option value="Quận 5">Quận 5</option>
                    <option value="Quận 6">Quận 6</option>
                    <option value="Quận 7">Quận 7</option>
                    <option value="Quận 8">Quận 8</option>
                    <option value="Quận 9">Quận 9</option>
                    <option value="Quận 10">Quận 10</option>
                    <option value="Quận 11">Quận 11</option>
                    <option value="Quận 12">Quận 12</option>
                    <option value="Quận Thủ Đức">Quận Thủ Đức</option>
                    <option value="Quận Gò Vấp">Quận Gò Vấp</option>
                    <option value="Quận Bình Thạnh">Quận Bình Thạnh</option>
                    <option value="Quận Tân Bình">Quận Tân Bình</option>
                    <option value="Quận Tân Phú">Quận Tân Phú</option>
                    <option value="Quận Phú Nhuận">Quận Phú Nhuận</option>
                    <option value="Huyện Củ Chi">Huyện Củ Chi</option>
                    <option value="Huyện Hóc Môn">Huyện Hóc Môn</option>
                    <option value="Huyện Bình Chánh">Huyện Bình Chánh</option>
                    <option value="Huyện Nhà Bè">Huyện Nhà Bè</option>
                    <option value="Huyện Cần Giờ">Huyện Cần Giờ</option>
                </select>
            </div>
            @*@Html.ValidationMessageFor(m => m.Location, null, new { @class = "textValidation" })*@
            <div class="form-group">
                <input type="tel" class="form-input" id="PhoneNumber" name="PhoneNumber" placeholder="Your PhoneNumber" />
            </div>
            @*@Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "textValidation" })*@
            <div id="res"></div>
            <div class="textValidation" id="showFail_PN">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <input type="email" class="form-input" name="Email" id="Email" placeholder="Your Email" />
            </div>
            @*@Html.ValidationMessageFor(m => m.Email, null, new { @class = "textValidation" })*@
            <div id="res"></div>
            <div class="textValidation" id="showFail_Email">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <input type="submit" name="submit" id="submit" class="form-submit" value="Lưu cửa hàng" />
            </div>
            @*<div id="res"></div>
                <div class="textValidation" id="showSuccess">
                    @ViewBag.Message
                </div>*@
        </form>
    </div>
</div>
