@using Project_Web.Models;
@{
    ViewBag.Title = "Quản lý món ăn";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Management.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Quản lý món ăn</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-background">
            <h1 class="text-center">Danh sách món ăn</h1>
            <div class="around-table">
                <table class="table table-bordered">
                    <thead>
                        <tr class="d-flex text-center">
                            <th class="col-2">Tên món ăn</th>
                            <th class="col-4">Thành phần</th>
                            <th class="col-1">Giá nhập</th>
                            <th class="col-1">Giá bán</th>
                            <th class="col-2">Hình ảnh</th>
                            <th class="col-1">Phân loại</th>
                            <th class="col-1">Xóa</th>
                        </tr>
                    </thead>
                    <tbody id="ListData">
                        @{
                            var dishes = (from m in _db.Menus
                                          select m);
                            foreach (var dish in dishes)
                            {
                                <tr class="d-flex text-center">
                                    <td class="col-2">@dish.DishName</td>
                                    <td class="col-4">@dish.Ingredient</td>
                                    <td class="col-1">@dish.ImportPrice</td>
                                    <td class="col-1">@dish.SalePrice</td>
                                    <td class="col-2"><img src="../@dish.Image" style="width: 75px; height: 75px;"></td>
                                    <td class="col-1">@dish.Category</td>
                                    <td class="col-1"><button class="btn btn-danger DeleteDish" data-IDDish="@dish.IDDish">Xóa</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/DishesManagement.js"></script>
