@using Project_Web.Models;
@{
    ViewBag.Title = "Quản lý nhập hàng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Management.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Quản lý nhập hàng</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-background">
            <h1 class="text-center">Danh sách kho hàng</h1>
            <div class="around-table">
                <table class="table table-bordered">
                    <thead>
                        <tr class="d-flex text-center">
                            <th class="col-3">Tên kho hàng</th>
                            <th class="col-3">Tên cửa hàng</th>
                            <th class="col-3">Địa chỉ</th>
                            <th class="col-1">Số lượng món ăn</th>
                            <th class="col-2">Xem chi tiết</th>
                        </tr>
                    </thead>
                    <tbody id="ListData">
                        @{
                            List<Warehouse> warehouses = (from w in _db.Warehouses
                                                          select w).ToList();
                            foreach (var w in warehouses)
                            {
                                var warehouseDetails_quantity = (from wd in _db.WarehouseDetails
                                                                 where wd.IDWarehouse == w.IDWarehouse
                                                                 select wd.Quantity).ToList();
                                var total = warehouseDetails_quantity.Sum();
                                var store = _db.Stores.SingleOrDefault(n => n.IDStore == w.IDStore);
                                <tr class="d-flex text-center">
                                    <td class="col-3">@w.WarehouseName</td>
                                    <td class="col-3">@store.StoreName</td>
                                    <td class="col-3">@w.LocationofWarehouse</td>
                                    <td class="col-1">@total</td>
                                    <td class="col-2"><button class="btn btn-danger WarehouseDetail" id="detail" data-IDWarehouse="@w.IDWarehouse">Xem chi tiết</button></td>
                                </tr>

                            }

                        }
                    </tbody>
                </table>
            </div>
            <div class="popup-background" id="popup">
                <div class="popup">
                    <div class="popup-form">
                        <span class="close-popup" id="close-popup">X</span>
                        <div class="popup-form-detail">
                            <div class="warehouseName text-center">Tên kho hàng</div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="d-flex text-center">
                                        <th class="col-4">Tên món ăn</th>
                                        <th class="col-4">Số lượng</th>
                                        <th class="col-4">Thời gian nhập hàng</th>
                                    </tr>
                                </thead>
                                <tbody id="listWarehouseDetails" class="listWarehouseDetails">
                                    <tr class="d-flex text-center">
                                        <td class="col-sm-4">Thư</td>
                                        <td class="col-sm-4">0</td>
                                        <td class="col-sm-4">0/0/0000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/ImportProductsManagement.js"></script>


