@using Project_Web.Models;
@{
    ViewBag.Title = "Quản lý cửa hàng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Management.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Quản lý cửa hàng</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-background">
            <h1 class="text-center">Danh sách cửa hàng</h1>
            <div class="around-table">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Tên cửa hàng</th>
                            <th>Địa chỉ</th>
                            <th>Nhân viên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Tên kho hàng</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody id="ListData">
                        @{
                            var stores = (from s in _db.Stores
                                          select s).ToList();
                            foreach (var s in stores)
                            {
                                var warehouse = (from w in _db.Warehouses
                                                 where w.IDStore == s.IDStore
                                                 select w).SingleOrDefault();
                                var User = (from u in _db.Users
                                            where u.IDUser == s.IDUser
                                            select u).SingleOrDefault();
                                string username = "Chưa có nhân viên";
                                if (User != null)
                                {
                                    username = User.Username;
                                }
                                <tr>
                                    <td>@s.StoreName</td>
                                    <td>@s.Location</td>
                                    <td>@username</td>
                                    <td>@s.PhoneNumber</td>
                                    <td>@s.Email</td>
                                    <td>@warehouse.WarehouseName</td>
                                    <td><button class="btn btn-danger DeleteStore" data-IDStore="@s.IDStore">Xóa</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/StoresManagement.js"></script>

