@using Project_Web.Models;
@{
    ViewBag.Title = "Quản lý người dùng";
    Database_PorridgeSellingManagementStoreEntities _db = new Database_PorridgeSellingManagementStoreEntities();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Management.css">
</head>
<body>
    <div class="header">
        <div class="row">
            <div class="col-md-4">
                <a href="/Home/Index"><img src="~/images/logo.gif" class="image-logo" /></a>
            </div>
            <div class="col-md-4">
                <h2 class="text-center">Quản lý người dùng</h2>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main-background">
            <h1 class="text-center">Danh sách người dùng</h1>
            <div class="around-table">
                <table class="table table-bordered">
                    <thead>
                        <tr class="d-flex text-center">
                            <th class="col-2">Tên tài khoản</th>
                            <th class="col-1">Tên đầy đủ</th>
                            <th class="col-1">Giới tính</th>
                            <th class="col-1">Ngày sinh</th>
                            <th class="col-1">CMND</th>
                            <th class="col-1">Địa chỉ</th>
                            <th class="col-1">Số điện thoại</th>
                            <th class="col-2">Email</th>
                            <th class="col-1">Chức vụ</th>
                            <th class="col-1">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="ListData">
                        @{
                            var listUsers = (from s in _db.Users
                                             select s).ToList();


                            foreach (var s in listUsers)
                            {
                                var quyen = (from ur in _db.User_Roles
                                             join r in _db.Roles on ur.IDRole equals r.IDRole
                                             where ur.IDUser == s.IDUser
                                             select r.Role1).SingleOrDefault();
                                string datestring = String.Format("{0:MM-dd-yyyy}", s.DateofBirth);
                                <tr class="d-flex text-center">
                                    <td class="col-2">@s.Username</td>
                                    <td class="col-1">@s.Fullname</td>
                                    <td class="col-1">@s.Gender</td>
                                    <td class="col-1">@datestring</td>
                                    <td class="col-1">@s.IdentityCard</td>
                                    <td class="col-1">@s.Address</td>
                                    <td class="col-1">@s.PhoneNumber</td>
                                    <td class="col-2">@s.Email</td>
                                    <td class="col-1">@quyen</td>
                                    <td class="col-1"><button class="btn btn-danger DeleteUser" data-IDUser="@s.IDUser">Xóa</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="~/Scripts/UserManagement.js"></script>